/*
tous les éléments de la page
*/
html{
    background-color: #333;
    color: #fff;
}
/*
on centre des textes
*/
h1, h2 {
    text-transform: uppercase;
    text-align: center;
}
/*
le formulaire
*/
form{}
/*
formulaire d'authentification de la page createur
*/
.formuCrea{
    width: 500px;
    margin: 0 auto;
}

/*
champs a remplir
*/
.cham{
    width: 100%;
    margin-bottom: 10px;
}
/*
le bouton de soumission
*/
.sub{
    display: block;
    margin: auto;
}
/*
gestion des liens
*/
a{
    text-decoration: none;
    color: #fff;
}
/*
couleurs des items
*/
.contentItem, .contentItemAlone{
    margin: 50px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #222;
}
.contentItem:hover{
    color: #222;
    background-color: #fff;
}
/*
bouton retour à la liste dans les items
*/
.bouton_retour{
    padding: 10px;
    background-color: #222;
    color: #fff;
    border: solid #fff;
}
.bouton_retour:hover{
    background-color: #fff;
    color: #222;
    border-color: #222;
}